<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-back-button>
    <ion-title class="centro"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
  <ionic-card>
    <ion-list>

      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="nombre_r" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Rut</ion-label>
        <ion-input [(ngModel)]="rut" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>direccion</ion-label>
        <ion-input [(ngModel)]="direccion" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="Correo" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>numero de telefono</ion-label>
        <ion-input [(ngModel)]="telefono" type="tel" placeholder="888-888-8888"></ion-input>
      </ion-item>
    </ion-list>

    
  </ionic-card>
  <ion-button shape="block" (click)="modificar()">Modificar</ion-button>

</ion-content>
