<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-back-button>
    <ion-title class="centro">Justificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>

  <ion-card>
    <ion-item>
      
      <p>Programacion web</p>
      <ion-checkbox></ion-checkbox>
      
    </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        
        <p>Ingles</p>
        <ion-checkbox></ion-checkbox>
        
      </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
    
          <p>Calculo</p>
          <ion-checkbox></ion-checkbox>
          
        </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            
            <p>Etica</p>
            <ion-checkbox></ion-checkbox>
            
          </ion-item>
          </ion-card>
          <ion-card>
  <ion-label position="floating">Buscar en mi dispositivo</ion-label>
          <ion-searchbar></ion-searchbar>
          </ion-card>
          <ion-button>Enviar</ion-button>

</ion-content>
