<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-back-button>
    <ion-title class="centro">Generar Ticket</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background" padding>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Nombre Completo:</ion-label>
      <ion-input type="text" placeholder="Ej:Felipe Albornoz"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Rut:</ion-label>
      <ion-input type="text" placeholder="Ej:20.143.745-K"></ion-input>
    </ion-item>
  
    <ion-item>
     <ion-label position="floating">Correo:</ion-label>
     <ion-input type="text" placeholder="Ej:feli.albornoz@duocuc.cl"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Comentario:</ion-label>
      <ion-input type="text" placeholder="Ej:Inasistencia"></ion-input>
    </ion-item>
<ion-item><ion-list>
  <ion-item>
    
    <ion-select placeholder="Por favor selecciona una opcion">
      <ion-select-option value="inasistencia">Inasistencia</ion-select-option>
      <ion-select-option value="nota">Nota erronea</ion-select-option>
      <ion-select-option value="otro">Otro</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list></ion-item>
  </ion-list>

  <br>
  <br>
  <br>
  

    <ion-button color="tertiary" [routerLink]="['/otram']" *ngIf="user !='Desconocido'">Enviar
    </ion-button>

</ion-content>
