<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-back-button>
    <ion-title class="centro">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
  
  <ion-card>
    
  
    

    <ion-avatar>
        <img alt="src\assets\icon\no_foto" [src]="image" *ngIf="image" />
        <img src="" *ngIf="!image" />
        <ion-icon name="camera-outline" (click)="fotico()"></ion-icon>
      </ion-avatar>
      
      <ion-list>
        <img [src]="image" *ngIf="image" />
        <img src="" *ngIf="!image" />
      </ion-list>  


      <ion-item><label>Nombre: {{nombre_r}}</label></ion-item>
      <ion-item><label>Rut: {{rut}}</label></ion-item>
      <ion-item><label>Direccion: {{direccion}}</label></ion-item>
      <ion-item><label>Telefono: {{telefono}}</label></ion-item>
      <ion-item><label>Correo: {{correo}}</label></ion-item>

      
    <ion-button expand="block"(click)="fotico()"> <label style="font-size: 12px;" > <ion-icon name="camera-outline"></ion-icon>foto</label></ion-button>
    <ion-button  class="top-20" size="default" expand="full" color="tertiary" [routerLink]="['/editar-usuario']" > <ion-icon name="create-outline"></ion-icon>Modificar</ion-button>
    


    
     
    
    
  </ion-card>

</ion-content>
