<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-back-button>
    <ion-title class="centro">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-list>
        <ion-card>
      <ion-item>
        <ion-label>Nombre: Felipe Albornoz</ion-label>
      </ion-item>
        </ion-card>
        <ion-card>
      <ion-item>
        <ion-label>Rut: 21.125.098-K </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Correo: feli.albornoz@duocuc.cl</ion-label>
      </ion-item>
    </ion-card>
    
     
    </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
