<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-back-button>
    <ion-title class="centro">Asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background" padding>
  

  <ion-card class="techo">
    <ion-container class="centro">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Seccion 001D</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            First Content
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Seccion 002D</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        
      </ion-accordion-group>
    </ion-container>
  </ion-card>    
</ion-content>